{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}





<!-- Homeowner Landing Section -->
<section id="homeowner-landing-section" class="homeowner-landing-section img-cover" style="background-image: url('https://paper-attachments.dropboxusercontent.com/s_55493AC5DFEA224FE46236966C9FFE3323D932A7426536EC84974F7A86B777FB_1729249515959_Mohta_04.jpg');">
	<div class="row space-200-top-bottom" style="background: rgba(0, 0, 0, 0.65);">
		<div class="container">
			<div class="columns small-12 medium-6 large-4">
				<div class="homeowner-landing space-25 text-white">
					<div class="title space-250-bottom">
						<div class="h4 font-h strong">Architecture for</div>
						<div class="h2 font-h strong text-pink">Homeowners</div>
					</div>
					<div class="point space-100-bottom">
						<div class="h4 font-h">
							With<span class="highlight text-pink h2 strong"> 20 Years</span> <br>
							Experience Crafting <br>
							Living Spaces.
						</div>
					</div>
					<div class="point space-100-bottom">
						<div class="h4 font-h">
							A Legacy of<span class="highlight text-pink h2 strong"> 50+</span> <br>
							Homes designed <br>
							with passion.
						</div>
					</div>
				</div>
			</div>
			<div class="columns small-12 medium-6 large-4 large-offset-4 text-light">
				<!-- Form -->
				<div class="form space-150-left-right space-150-top-bottom radius-50" style="backdrop-filter: blur(10px) brightness(150%); -webkit-backdrop-filter: blur(10px) brightness(150%); background: rgba(143, 0, 255, 0.5);">
					<form action="" method="post">
						<div class="h5">Sign-up for a FREE<br>Online Consultation!</div>
						<label class="form-field block space-25-top" for="fullName">
							<span class="label strong inline space-min-bottom">Full Name</span>
							<input class="input-field block" type="text" name="fullName">
						</label>
						<label class="form-field block space-25-top" for="email">
							<span class="label strong inline space-min-bottom">Email ID</span>
							<input class="input-field block" type="text" name="email">
						</label>
						<label class="form-field block space-25-top" for="phone">
							<span class="label strong inline space-min-bottom">Phone Number <span class="w-400">(Request a Call-Back)</span></span>
							<input class="input-field block" type="text" name="phone">
						</label>
						<label class="form-field block space-25-top" for="phone">
							<span class="label strong inline space-min-bottom invisible">Submit</span>
							<button class="button block strong fill-light text-left" type="submit">Send</button>
						</label>
					</form>
				</div>
				<!-- END: Form -->
			</div>
		</div>
	</div>
</section>
<!-- END: Homeowner Landing Section -->




<!-- Portfolio Section -->
<section id="portfolio-section" class="portfolio-section fill-dark space-200-top space-100-bottom">
	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<div class="p strong space-25-bottom text-center text-uppercase opacity-50">Residential Projects</div>
				<div class="title h3 text-center font-h space-100-bottom">Home's crafted for <span class="text-pink">Homeowners</span></div>
			</div>
		</div>
	</div>
	<div class="carousel fill-dark">
		<div class="carousel-list">
		{% capture reyears %}{% for reyear in collections.post | sort: "year"  %},{{ reyear.data.year }}{% endfor %}{% endcapture %}
		<!-- assign reyears to an array by spliting sting at ','commas and only adding the unique ones -->
		{% for yea in reyears %}{% assign itemsreYear = yea | split: ',' | uniq | sort_natural | reverse %}{% endfor %}
		<!-- loop to output uniqe reyears -->
		{% for itemreYear in itemsreYear %}
			{% for post in collections.post %}
				{% if itemreYear contains post.data.year %}
					{% if post.data.category == "Residential" %}
			<a class="carousel-list-item space-50" href="{{ post.url }}" target="_blank">
				<div class="card fill-black space-100 radius-50 img-cover" style="background-image: url('{{ post.data.thumbnail }}');">
					<div class="title">
						<div class="h5 strong no-wrap">{{ post.data.project }}</div>
						<div class="p text-pink strong">{{ post.data.year }}</div>
					</div>
					<span class="arrow text-pink material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 0;">arrow_right</span>
				</div>
			</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
		<div class="row">
			<div class="container">
				<div class="columns small-6">
					<div class="scroll-button button scroll-left" data-dir="left" tabindex="-1"><span class="text-pink material-symbols-rounded inline-middle" style="font-size: var(--h1); line-height: 0;">arrow_left</span></div>
				</div>
				<div class="columns small-6 text-right">
					<div class="scroll-button button scroll-right" data-dir="right" tabindex="-1"><span class="text-pink material-symbols-rounded inline-middle" style="font-size: var(--h1); line-height: 0;">arrow_right</span></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Portfolio Section -->




<!-- Human Centric Section -->
<section id="human-centric-section" class="human-centric-section fill-dark">
	<div class="human-centric row">
		<div class="container clearfix">
			<div class="isometric columns small-12 medium-6 large-5 large-offset-1 space-200-bottom">
				<img class="block" src="media/isometric-3d-house.png">
			</div>
			<div class="columns small-12 medium-6 large-4 large-offset-1">
				<div class="h2 font-h strong text-pink">Human-Centric Architecture</div>
				<div class="h4 font-h strong space-25-bottom">Next-Level Homes Designed Around You :</div>
				<div class="p space-25-bottom">Through our core principles we create spaces you can live with long-term. By...</div>
				<div class="p"><span class="h5 strong font-h text-pink">1.</span> Listening to your Needs <br><span class="h5 strong font-h text-pink">2.</span> Thoughtful Design <br><span class="h5 strong font-h text-pink">3.</span> Careful Construction.</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Human Centric Section -->




<!-- Handbook Section -->
<section id="handbook-section" class="handbook-section fill-dark">
	<div class="handbook row">
		<div class="container">
			<div class="book columns small-12 medium-6 large-3 large-offset-1 inline-middle">
				<img class="block" src="media/download-ebook.png">
			</div>
			<div class="columns small-10 medium-4 medium-offset-2 large-3 large-offset-1 inline-middle space-50-top-bottom">
				<div class="h4 font-h text-white space-50-bottom"><span class="strong">Human-Centric Architecture :</span> <span class="no-wrap">Get the FREE e-book</span></div>
				<div class="button fill-pink text-white strong block
				">Download Now</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Handbook Section -->




<!-- Why Us Section -->
<section id="why-us-section" class="why-us-section fill-violet text-white img-cover" style="background-image: url('media/architect-drawing.jpg'); background-blend-mode: hard-light;">
	<div class="row">
		<div class="container space-250-top space-150-bottom">
			<div class="columns small-11 medium-6 large-4 large-offset-1  space-150-right">
				<div class="h5 font-h text-pink strong">Why us?</div>
				<div class="h2 font-h strong space-50-bottom">Because we get "YOU"</div>
				<div class="h5 font-h space-50-bottom">As first-time homeowners, you want a place that feels like “YOU” </div>
				<div class="p space-50-bottom opacity-75">Our team is dedicated to crafting personalised spaces around your lifestyle, sparking joy and wonder. </div>
				<div class="p strong space-100-bottom opacity-75">Let us partner with you on this journey to create a home that’s a true reflection of who you are.</div>
			</div>
			<div class="columns small-12 medium-6 large-5 large-offset-2 space-100-bottom">
				<img src="media/homeowner-2.jpeg" class="block radius-50 box-shadow-pink">
			</div>
		</div>
	</div>
</section>
<!-- END: Why Us Section -->




<!-- Process Section -->
<section id="process-section" class="process-section fill-dark">
	<div class="row position-relative">
		<div class="container space-250-top-bottom">
			<div class="process columns small-12 medium-12 large-7">
				<div class="row">
					<div class="columns small-12 space-25 space-100-bottom">
						<div class="h2 font-h strong text-pink">Easy — 5 Step</div>
						<div class="h1 font-h strong opacity-25 text-uppercase" style="transform-origin: top left; transform: scale(1.5);">Process</div>
					</div>
				</div>
				<div class="step step-1 row">
					<div class="step-title columns small-12 space-25 space-200-top">
						<div class="h6 strong font-h text-uppercase inline text-white">Step 1 :</div><br>
						<div class="h3 font-h text-pink space-25-top">Consultation</div>
					</div>
					<div class="step-thumbnail columns small-12 medium-5 space-25 space-50-top">
						<div class="thumbnail block radius-50 box-shadow-pink img-cover" style="background-image: url('media/consultation.jpg');"></div>
					</div>
					<div class="step-content columns small-12 medium-6 medium-offset-1 space-25 space-50-top">
						<div class="p space-50-bottom">Tell us your dream and we'll get to work making it a reality. We will discuss your vision, explore design options, and provide expert guidance on the entire home-building process.</div>
						<div class="p">Site Visit : After your free consultation, we come on a personalized site visit to assess your property. This is where we take in the unique features of your space and the vibe of the surrounding neighborhood. This isn’t just a visit; it’s the beginning of crafting something special.</div>
					</div>
					<div class="step-stats columns small-12 space-25 opacity-50">
						<div class="row">
							<div class="columns small-6 medium-4 space-50-top">
								<div class="h1 font-h strong text-pink">3</div>
								<div class="h3 font-h">Industry <br>Experts</div>
							</div>
							<div class="columns small-6 medium-4 space-50-top">
								<div class="h1 font-h strong text-pink">75+</div>
								<div class="h3 font-h">Happy <br>Clients</div>
							</div>
							<div class="columns small-6 medium-4 space-50-top">
								<div class="h1 font-h strong text-pink">50+</div>
								<div class="h3 font-h">Homes <br>Built</div>
							</div>
						</div>
					</div>
				</div>
				<div class="step step-2 row">
					<div class="step-title columns small-12 space-25 space-200-top">
						<div class="h6 strong font-h text-uppercase inline text-white">Step 2 :</div><br>
						<div class="h3 font-h text-pink space-25-top">Conceptual Designs</div>
					</div>
					<div class="step-content columns small-12 space-25 space-50-top">
						<div class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error enim molestias ab corrupti in incidunt. Veniam aliquam similique, beatae voluptatem architecto incidunt, excepturi, debitis officia nulla, alias voluptatum suscipit!</div>
					</div>
				</div>
				<div class="step step-3 row">
					<div class="step-title columns small-12 space-25 space-200-top">
						<div class="h6 strong font-h text-uppercase inline text-white">Step 3 :</div><br>
						<div class="h3 font-h text-pink space-25-top">Materials & Permits</div>
					</div>
					<div class="step-content columns small-12 space-25 space-50-top">
						<div class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error enim molestias ab corrupti in incidunt. Veniam aliquam similique, beatae voluptatem architecto incidunt, excepturi, debitis officia nulla, alias voluptatum suscipit!</div>
					</div>
				</div>
				<div class="step step-4 row">
					<div class="step-title columns small-12 space-25 space-200-top">
						<div class="h6 strong font-h text-uppercase inline text-white">Step 4 :</div><br>
						<div class="h3 font-h text-pink space-25-top">Construction Phase</div>
					</div>
					<div class="step-content columns small-12 space-25 space-50-top">
						<div class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error enim molestias ab corrupti in incidunt. Veniam aliquam similique, beatae voluptatem architecto incidunt, excepturi, debitis officia nulla, alias voluptatum suscipit!</div>
					</div>
				</div>
				<div class="step step-5 row">
					<div class="step-title columns small-12 space-25 space-200-top">
						<div class="h6 strong font-h text-uppercase inline text-white">Step 5 :</div><br>
						<div class="h3 font-h text-pink space-25-top">Handover</div>
					</div>
					<div class="step-content columns small-12 space-25 space-50-top">
						<div class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error enim molestias ab corrupti in incidunt. Veniam aliquam similique, beatae voluptatem architecto incidunt, excepturi, debitis officia nulla, alias voluptatum suscipit!</div>
					</div>
				</div>
			</div>
			<div class="columns small-12 medium-12 large-4 large-offset-1 position-sticky" style="top: var(--space-200);">
				<div class="row">
					<div class="columns small-12 medium-5 large-12">
						<div class="h3 font-h strong space-100-bottom">Lorem ipsum dolor sit amet consectetur</div>
					</div>
					<div class="columns small-12 medium-6 medium-offset-1 large-12 large-offset-0">
						<!-- Form -->
						<div class="form space-150-left-right space-150-top-bottom radius-50" style="backdrop-filter: blur(10px) brightness(150%); -webkit-backdrop-filter: blur(10px) brightness(150%); background: rgba(143, 0, 255, 0.5);">
							<form action="" method="post">
								<!-- <div class="h6 strong space-25-bottom">Register now!</div> -->
								<label class="form-field block" for="fullName">
									<span class="label strong inline space-min-bottom">Full Name</span>
									<input class="input-field block" type="text" name="fullName">
								</label>
								<label class="form-field block space-25-top" for="email">
									<span class="label strong inline space-min-bottom">Email ID</span>
									<input class="input-field block" type="text" name="email">
								</label>
								<label class="form-field block space-25-top" for="phone">
									<span class="label strong inline space-min-bottom">Phone Number <span class="w-400">(Request a Call-Back)</span></span>
									<input class="input-field block" type="text" name="phone">
								</label>
								<label class="form-field block space-25-top" for="phone">
									<span class="label strong inline space-min-bottom invisible">Submit</span>
									<button class="button block strong fill-light text-left" type="submit">Send</button>
								</label>
							</form>
						</div>
						<!-- END: Form -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Process Section -->




<!-- Testimonial Section -->
<section id="testimonial-section" class="testimonial-section fill-dark space-200-top space-100-bottom">
	<div class="row">
		<div class="container">
			<div class="columns small-12">
				<div class="p strong space-25-bottom text-center text-uppercase opacity-50">Testimonials</div>
				<div class="title h3 text-center font-h space-100-bottom">Hear it from our <span class="text-pink">Satisfied Clients</span></div>
			</div>
		</div>
	</div>
	<div class="carousel fill-dark">
		<div class="carousel-list">
		{% capture reyears %}{% for reyear in collections.post | sort: "year"  %},{{ reyear.data.year }}{% endfor %}{% endcapture %}
		<!-- assign reyears to an array by spliting sting at ','commas and only adding the unique ones -->
		{% for yea in reyears %}{% assign itemsreYear = yea | split: ',' | uniq | sort_natural | reverse %}{% endfor %}
		<!-- loop to output uniqe reyears -->
		{% for itemreYear in itemsreYear %}
			{% for post in collections.post %}
				{% if itemreYear contains post.data.year %}
					{% if post.data.category == "Residential" %}
			<a class="carousel-list-item space-50" href="{{ post.url }}" target="_blank">
				<div class="card fill-black space-100 radius-50 img-cover" style="background-image: url('{{ post.data.thumbnail }}');">
					<div class="title">
						<div class="h5 strong no-wrap">{{ post.data.project }}</div>
						<div class="p text-pink strong">{{ post.data.year }}</div>
					</div>
					<span class="arrow text-pink material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 0;">arrow_right</span>
				</div>
			</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
		<div class="row">
			<div class="container">
				<div class="columns small-6">
					<div class="scroll-button button scroll-left" data-dir="left" tabindex="-1"><span class="text-pink material-symbols-rounded inline-middle" style="font-size: var(--h1); line-height: 0;">arrow_left</span></div>
				</div>
				<div class="columns small-6 text-right">
					<div class="scroll-button button scroll-right" data-dir="right" tabindex="-1"><span class="text-pink material-symbols-rounded inline-middle" style="font-size: var(--h1); line-height: 0;">arrow_right</span></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END: Testimonial Section -->




{% include 'parts/footer-menu.liquid' %}
{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}