{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}





<!-- Intro Section -->
<section id="intro-section" class="intro-section" style="background-image: url('media/image.jpg'); background-size: cover;">
	<div class="row space-200-top-bottom" style="background: rgba(0, 0, 0, 0.7);">
		<div class="container">
			<div class="columns small-12 medium-6 large-4">
				<div class="intro space-25 text-white">
					<div class="h2 font-h strong space-100-bottom">Architecture that Inspires and Endures</div>
					<div class="h6 space-100-bottom">Rooted in Human-Centric Design, our unique approach combines functionality with timeless beauty!</div>
				</div>
			</div>
			<div class="columns small-12 medium-6 large-4 large-offset-4 text-light">
				<!-- Form -->
				<div class="form space-150-left-right space-150-top-bottom radius-50" style="backdrop-filter: blur(10px) brightness(150%); -webkit-backdrop-filter: blur(10px) brightness(150%); background: rgba(143, 0, 255, 0.5);">
					<form action="" method="post">
						<div class="h5">Sign-up for a FREE<br>Online Consultation!</div>
						<label class="form-field block space-25-top" for="fullName">
							<span class="label strong inline space-min-bottom">Full Name</span>
							<input class="input-field block" type="text" name="fullName">
						</label>
						<label class="form-field block space-25-top" for="email">
							<span class="label strong inline space-min-bottom">Email ID</span>
							<input class="input-field block" type="text" name="email">
						</label>
						<label class="form-field block space-25-top" for="phone">
							<span class="label strong inline space-min-bottom">Phone Number <span class="w-400">(Request a Call-Back)</span></span>
							<input class="input-field block" type="text" name="phone">
						</label>
						<label class="form-field block space-25-top" for="phone">
							<span class="label strong inline space-min-bottom invisible">Submit</span>
							<button class="button block strong fill-light text-left" type="submit">Send</button>
						</label>
					</form>
				</div>
				<!-- END: Form -->
			</div>
		</div>
	</div>
</section>
<!-- END: Intro Section -->





<!-- Main Section -->
<section class="main-section fill-light">
	<div class="container">
		<div class="row">
			<!-- Main -->
			<div class="main columns small-12 large-7 space-200-top-bottom">
				<!-- Demographic -->
				<div class="demographic row space-200-bottom hidden">
					<div class="columns small-12 h6 space-50-bottom">Are you looking for...</div>
					<div class="columns small-12 ">
						<div class="row">
							<div class="columns large-4 space-50-right">
								<a href="#" class="card block text-white radius-50" style="background: var(--neutral-6) url('/media/image.jpg');">
									<div class="title h6 strong inline-bottom">Architecture for<br><span class="card-line">House Owners</span></div>
									<i class="fa-icon fa-solid fa-play inline-bottom h6"></i>
								</a>
							</div>
							<div class="columns large-4 space-50-left-right">
								<a href="#" class="card block text-white radius-50" style="background: var(--neutral-6) url('/media/image.jpg');">
									<div class="title h6 strong inline-bottom">Architecture for<br><span class="card-line">Businesses</span></div>
									<i class="fa-icon fa-solid fa-play inline-bottom h6"></i>
								</a>
							</div>
							<div class="columns large-4 space-50-left">
								<a href="#" class="card block text-white radius-50" style="background: var(--neutral-6) url('/media/image.jpg');">
									<div class="title h6 strong inline-bottom">Architecture for<br><span class="card-line">Students</span></div>
									<i class="fa-icon fa-solid fa-play inline-bottom h6"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- END: Demographic -->
				<!-- Posts -->
				<div class="posts row position-relative">
					<!-- Post Filter -->
					<style type="text/css">
						.filter { transform : scale(1.1); }
						.selector-label {
							transform: translateY(-100%);
						}
						@media( min-width: 640px )  {
							.filter { transform : scale(1.05); }
							.selector-label {
								transform-origin: bottom left;
								transform: scale(1.25) translateY(-75%);
							}
						}
						@media( min-width: 1040px ) {
						}
						@media( min-width: 1480px ) {}
						
					</style>
					<div id="postFilter" class="filter columns small-12 space-100-bottom" style="position: sticky; top: var(--space-100); z-index: 8;">
						<div class="row box-shadow-violet text-violet row fill-white radius-50 space-50-top-bottom space-50-right" style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); background: rgba(255, 255, 255, 0.5);">
							<div class="columns small-12 medium-2 inline-top">
								<div class="p font-h strong opacity-50 space-50-left space-50-bottom">
									<span class="material-symbols-rounded inline-middle" style="font-size: var(--p); font-weight: 700;">tune</span> 
									Filter By:
								</div>
							</div>
							<div class="columns small-3 medium-2 inline-middle">
								<label class="dropdown block space-50-left inline-middle cursor-pointor position-relative">
									<span class="p font-h strong text-uppercase position-absolute opacity-50 no-pointer">Year</span>
									<select id="yearFilter" class="selector block opacity-0" name="project">
										<option value="" selected>All</option>
										<!-- capture years from all posts into a string with ',' comma separtion -->
										{% capture years %}{% for year in collections.post | sort: "year" %}{{ year.data.year }},{% endfor %}{% endcapture %}
										<!-- assign years to an array by spliting sting at ','commas and only adding the unique ones -->
										{% for yea in years %}{% assign itemsYear = yea | split: ',' | uniq | sort_natural %}{% endfor %}
										<!-- loop to output uniqe years -->
										{% for itemYear in itemsYear %}
											<option value="{{itemYear}}">{{itemYear}}</option>
										{% endfor %}
									</select>
									<span class="selector-label label strong position-absolute no-wrap no-pointer">
										<span id="currentYear">All</span>
										<span class="material-symbols-rounded inline-middle" style="font-size: var(--label); font-weight: 700; transform: scale(1.5);">arrow_drop_down</span> 
									</span>
								</label>
							</div>
							<div class="columns small-4 medium-3 inline-middle">
								<label class="dropdown block space-50-left inline-middle cursor-pointor position-relative">
									<span class="p font-h strong text-uppercase position-absolute opacity-50 no-pointer">Category</span>
									<select id="categoryFilter" class="selector block opacity-0" name="project">
										<option value="" selected>All</option>
										<!-- capture categories from all posts into a string with ',' comma separtion -->
										{% capture categories %}{% for category in collections.post | sort: "category" %}{{ category.data.category }},{% endfor %}{% endcapture %}
										<!-- assign categories to an array by spliting sting at ','commas and only adding the unique ones -->
										{% for cat in categories %}{% assign itemsCategory = cat | split: ',' | uniq | sort_natural %}{% endfor %}
										<!-- loop to output uniqe categories -->
										{% for itemCategory in itemsCategory %}
											<option value="{{itemCategory}}">{{itemCategory}}</option>
										{% endfor %}
									</select>
									<span class="selector-label label strong position-absolute no-wrap no-pointer">
										<span id="currentCategory">All</span>
										<span class="material-symbols-rounded inline-middle" style="font-size: var(--label); font-weight: 700; transform: scale(1.5);">arrow_drop_down</span> 
									</span>
								</label>
							</div>
							<div class="columns small-5 medium-5 inline-middle">
								<label class="dropdown block space-50-left inline-middle cursor-pointor position-relative">
									<span class="p font-h strong text-uppercase position-absolute opacity-50 no-pointer">Project</span>
									<select id="projectFilter" class="selector block opacity-0" name="project">
										<option value="" selected>All</option>
										<!-- capture projects from all posts into a string with ',' comma separtion -->
										{% capture projects %}{% for project in collections.post | sort: "project" %}{{ project.data.project }},{% endfor %}{% endcapture %}
										<!-- assign projects to an array by spliting sting at ','commas and only adding the unique ones -->
										{% for pro in projects %}{% assign itemsProject = pro | split: ',' | uniq | sort_natural %}{% endfor %}
										<!-- loop to output uniqe projects -->
										{% for itemProject in itemsProject %}
											<option value="{{itemProject}}">{{itemProject}}</option>
										{% endfor %}
									</select>
									<span class="selector-label label strong position-absolute no-wrap no-pointer">
										<span id="currentProject">All</span>
										<span class="material-symbols-rounded inline-middle" style="font-size: var(--label); font-weight: 700; transform: scale(1.5);">arrow_drop_down</span> 
									</span>
								</label>
							</div>
						</div>
					</div>
					<!-- END: Post Filter -->

					<!-- Post Listing -->
					<ul class="js_postList post-listing columns small-12" style="list-style-type: none;">
						<!-- Reverse Sort By Year -->
						{% capture reyears %}{% for reyear in collections.post | sort: "year"  %},{{ reyear.data.year }}{% endfor %}{% endcapture %}
						<!-- assign reyears to an array by spliting sting at ','commas and only adding the unique ones -->
						{% for yea in reyears %}{% assign itemsreYear = yea | split: ',' | uniq | sort_natural | reverse %}{% endfor %}
						<!-- loop to output uniqe reyears -->
						{% for itemreYear in itemsreYear %}
							{% for post in collections.post %}
								{% if itemreYear contains post.data.year %}
									<li data-title="{{ post.data.title }}" data-year="{{ post.data.year }}" data-category="{{ post.data.category }}" data-project="{{ post.data.project }}" style="margin: 0; padding-bottom: var(--space-100);">
										<div class="post box-shadow-violet radius-50 fill-white no-overflow">
											<a class="thumbnail block cursor-pointor" href="{{ post.url }}" style="background: url('{{ post.data.thumbnail }}'); padding-bottom: 50%; background-size: cover; background-position: center center;">
											</a>
											<div class="meta  space-100-left-right space-50-top">
												<span class="small text-violet space-min-right">{{ post.data.project }}</span>
												<span class="small text-violet space-min-right">{{ post.data.client }}</span>
												<span class="small text-violet space-min-right">{{ post.data.site }}</span>
											</div>
											<div class="content space-100-left-right space-25-top">
												<a class="title h5 font-h block text-violet strong" href="{{ post.url }}">{{ post.data.title }}</a>
												<div class="description label space-25-top-bottom">
													<p>{{ post.data.description }}</p>
												</div>
											</div>
											<div class="post-listing-footer row space-50-bottom">
												<div class="columns small-9 medium-10 space-100-left inline-middle no-wrap no-pointer no-overflow">
													<span class="small text-neutral-3 space-min-right">{{ post.data.year }}</span>
													<span class="small text-neutral-3 space-min-right">{{ post.data.category }}</span>
													<span class="small text-neutral-3 space-min-right">{{ post.data.status }}</span>
												</div>
												<div class="columns small-2 inline-middle text-right">
													<a class="button text-violet" href="{{ post.url }}"><span class="visuallyhidden">Open</span><span class="material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 0;">arrow_right</span></a>
												</div>
											</div>
										</div>
									</li>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
					<!-- END: Post Listing -->
				</div>
				<!-- End: Posts -->
			</div>
			<!-- END: Main -->
			<!-- Sidebar -->
			<div class="sidebar columns small-12 large-4 large-offset-1">
				{% include 'parts/sidebar-menu.liquid' %}
			</div>
			<!-- END: Sidebar -->
		</div>
	</div>
</section>
<!-- END: Main Section -->




<!-- Sample Section -->
{% comment %} <section id="sample-section" class="sample-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<div class="h3">Typography:</div>
				<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
				<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="h5 strong">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
				<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
				<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
				<a class="button fill-blue" href="https://google.com">Search</a>
			</div>
		</div>
	</div>
</section> {% endcomment %}
<!-- END: Sample Section -->






{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}